<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>完善个人资料</title>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/lib/jquery2.2.4/jquery-2.2.4.min.js"></script>
    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/author.css">
</head>
<body>
<!--网页头部导航条-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'blog:index' %}">P站</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'blog:index' %}"><i class="glyphicon glyphicon-home"></i> 首页 <span class="sr-only">(current)</span></a></li>
                {% if request.session.loginUser %}
                <li><a href="{% url 'blog:main' request.session.loginUser.id %}"><i class="glyphicon glyphicon-user"></i> 个人主页 </a></li>
                <li><a href="{% url 'blog:article_publish' %}"><i class="glyphicon glyphicon-text-size"></i> 发表文章 </a></li>
                {% endif %}
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 我的消息<i class="lable label-danger">10</i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-tag"></i> 网站导航 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'blog:article_publish' %}">发表文章</a></li>
                        <li><a href="#">查看文章</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">查看喜欢的文章</a></li>
                        <li><a href="#">查看收藏的文章</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">查看消息</a></li>
                        <li><a href="#">最新评论</a></li>
                        <li role="separator" class="divider"></li>
                        {% if request.session.loginUser %}
                        <li><a href="{% url 'blog:author_info_passwd' %}">修改登录密码</a></li>
                        <li><a href="{% url 'blog:author_info_editor' request.session.loginUser.id %}">完善个人资料</a></li>
                        {% else %}
                        <li><a href="{% url 'blog:login' %}">登录/注册</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入关键词">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.session.loginUser %}
                    <li class="active"><a href="{% url 'blog:author_info' request.session.loginUser.id %}">{{request.session.loginUser.nickname}}</a></li>
                    <li><a href="{% url 'blog:logout' %}">退出登录</a></li>
                {% else %}
                    <li><a href="{% url 'blog:register'%}"><span class="glyphicon glyphicon-tags"></span>
                        新用户注册</a></li>
                    <li><a href="{% url 'blog:login' %}"><span class="glyphicon glyphicon-tags"></span>
                        会员登录</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



<div class="container">
    <div class="row author-s">
        <div class="col-md-8 col-md-offset-2 ">
            <form class="form-horizontal" action="{% url 'blog:author_info_editor' request.session.loginUser.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="media">
                <div class="form-group">
                    <div class="col-sm-3">
                        <img class="media-object img-circle" src="/static/uepload/shangchuan/{{users.header}}" alt="...">
                    </div>
                    <div class="col-sm-3 col-md-offset-4">
                        <label for="header_img">更换头像：</label>
                        <input type="file" name="header_img" id="header_img">
                        <!--<button onclick="continues()">继续上传</button>-->
                    </div>
                </div>
            </div>

            <div class="media">
                <div class="form-group">
                    <label for="nickname" class="col-sm-2 control-label p2">昵称</label>
                    <div class="col-sm-6 col-md-offset-2">
                        <input type="text" class="form-control" name="nickname" id="nacg" value="{{request.session.loginUser.nickname}}">
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2">邮箱</label>
                    <div class="col-sm-6 col-md-offset-2">
                        <input type="text" class="form-control" name="email" id="youx" placeholder="邮箱">
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2" >手机</label>
                    <div class="col-sm-6 col-md-offset-2">
                        <input type="text" class="form-control" name="phone" id="shouj" placeholder="手机号">
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2 text-muted">常用编辑器</label>
                    <div class="col-sm-2 col-md-offset-2">
                        <input type="radio" name="user1" value="1">富文本

                    </div>
                    <div class="col-sm-2 col-md-offset-1">
                        <input type="radio" name="user" value="2" class="p3">Markdown
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2 text-muted">语言设置</label>
                    <div class="col-sm-2 col-md-offset-2">
                        <input type="radio" name="wenz1" value="1">简体中文

                    </div>
                    <div class="col-sm-2 col-md-offset-1">
                        <input type="radio" name="wenz" value="2" class="p3">繁体中文
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2 text-muted">接收谁的短讯</label>
                    <div class="col-sm-2 col-md-offset-2">
                        <input type="radio" name="xinx1" value="1">所有人

                    </div>
                    <div class="col-sm-2 col-md-offset-1">
                        <input type="radio" name="xinx" value="2" class="p3">我关注的人、我发过简信的人
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2 text-muted">提醒邮件通知</label>
                    <div class="col-sm-2 col-md-offset-2">
                        <input type="radio" name="youx1" value="1">所有动态

                    </div>
                    <div class="col-sm-2 col-md-offset-1">
                        <input type="radio" name="youx2" value="2" class="p3">每天未读汇总
                    </div>
                    <div class="col-sm-2 col-md-offset-1">
                        <input type="radio" name="youx" value="2" class="p3">不接收
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2 text-muted">性别</label>
                    <div class="col-sm-2 col-md-offset-2">
                        <input type="radio" name="sex1" value="1">男

                    </div>
                    <div class="col-sm-2 col-md-offset-1">
                        <input type="radio" name="sex2" value="2" class="p3">女
                    </div>
                    <div class="col-sm-2 col-md-offset-1">
                        <input type="radio" name="sex" value="2" class="p3">保密
                    </div>
                </div>
            </div>

            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2" >个人介绍</label>
                    <div class="col-sm-6 col-md-offset-2">
                        <textarea name="intro" id="intro" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="media">
                <label for="basic-url">个人网站</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                    <input type="text" name="web" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="media">
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label p2 text-muted">二维码</label>
                    <div class="col-sm-2 col-md-offset-2">
                        <label for="header_img">二维码：</label>
                        <input type="file" name="erwei_img" id="erwei_img">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" data-dismiss="modal">保存</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--网页页脚-网站备案信息+友情链接-->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="list-inline">
                <li><a href="#" class="text-muted">简书</a></li>
                <li><a href="#" class="text-muted">CSDN</a></li>
                <li><a href="#" class="text-muted">百度一下</a></li>
                <li><a href="#" class="text-muted">360搜</a></li>
                <li><a href="#" class="text-muted">搜狐博客</a></li>
                <li><a href="#" class="text-muted">新浪微博</a></li>
                <li><a href="#" class="text-muted">天涯论坛</a></li>
                <li><a href="#" class="text-muted">哔哩哔哩</a></li>
                <li><a href="#" class="text-muted">知乎</a></li>
                <li><a href="#" class="text-muted">啪啦啪啦</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-muted">
            <p>
                版权所有&copy;翻版必究
            </p>
            <p>
                增值电信业务经营许可证B2-20090108　电信与信息服务业务经营许可证000007号
            </p>
            <p>
                广播电视节目制作经营许可证（京）字第828号 甲测资字1100078 京公网安备11000002000016号
            </p>
        </div>
    </div>
</div>
</body>
</html>